<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加主机</title>
	<link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/css/bootstrap.css">
	<link rel="stylesheet" href="/static/login.css">
	<script src="/static/jquery/jquery.min.js"></script>
	<script src="/static/bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
</head>


<body>
    <div>
    <h1>添加主机</h1>
    <form method="post" action="/add-host/">
        <div>
            <p>主机IP：<input type="text" name="ipaddr" required/></p>
            <p>主机名：<input type="text" name="hostname" required/></p>
            <p>备  注：<input type="text" name="information"/></p>
            <p>状  态：<input type="number" name="status" min="0" max="1" name="status" required/></p>

            <input class="btn btn-default" type="submit" value="Submit">
            <a class="btn btn-default" href="/index/" role="button">返回</a>
        </div>
    </form>
        </div>
</body>
</html>