<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>在线尝试 Bootstrap 实例</title>
    <link href="/static/commons.css" rel="stylesheet" type="text/css">
   <link href="/static/bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" type="text/css">
   <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
   <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="header">
    <img src="https://images.unsplash.com/photo-1548668486-cac652985915?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1464&q=80" alt="img">
</div>

<div class="row">
  <div class="column">
    <ul class="nav nav-pills nav-stacked ">
      <li role="presentation"><a href="#">Home</a></li>
      <li role="presentation"><a href="#">Profile</a></li>
      <li role="presentation"><a href="#">Messages</a></li>
              <li role="presentation"><a href="#">Home</a></li>
      <li role="presentation"><a href="#">Profile</a></li>
      <li role="presentation"><a href="#">Messages</a></li>
              <li role="presentation"><a href="#">Home</a></li>
      <li role="presentation"><a href="#">Profile</a></li>
      <li role="presentation"><a href="#">Messages</a></li>
              <li role="presentation"><a href="#">Home</a></li>
      <li role="presentation"><a href="#">Profile</a></li>
      <li role="presentation"><a href="#">Messages</a></li>
    </ul>
  </div>


{% block comment %}
{% endblock %}




<div class="footer">
  <p>© 2016-2020 kafka科技有限公司 版权所有 京ICP备16046633号</p>
</div>
</body>
</html>