<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>




</head>
<body>
<form method="post" action="register.html">
    <label>
        <input type="text" name="username" placeholder="Username"/><br>
    </label>
    <label>
        <input type="tel" name="tel" placeholder="Tel"/><br>
    </label>
    <label>
        <input type="password" name="password" placeholder="Password"/><br>
    </label>
    <input type="submit" name="提交" value="提交">
    <input type="submit" name="返回" value="返回">
</form>
</body>
</html>